footer{

    background-image: url('../img/bg-footer.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.block-title{
    color: $color-1;
    margin-bottom: 1rem;

}
footer .menu li a , footer .menu li {
    color: $color-8;
}
footer .acces li a:hover {
    color: $color-1 !important;
    transition: .3s ease-in-out;
    text-shadow: 0 0 3px $color-1, 0 0 5px $color-1;   
     text-decoration: none;
}
.social-media{
    display: flex;
    margin-top: 2rem;
     text-align: center;
    a{ 
        font-size:$medium;
        height: 40px;
        width: 40px;
        background:transparent;
        line-height: $height3;
        border-radius: 50%;
        margin-right: 6px;  

    }
    
}

.social-media a:nth-of-type(1){
    color: $color-bg-2;
}
.social-media a:nth-of-type(2){
    color: $color-bg-2;
 
}
.social-media a:nth-of-type(3){
    color: $color-bg-2;

} 
.social-media a:nth-of-type(4){
    color: $color-bg-2;
    
}

.social-media a:nth-of-type(1):hover{
    color: $color-7;
    transition: .2s;
    transform: scale(1.3);
     
}
.social-media a:nth-of-type(2):hover{
    
    transform: scale(1.3);
    color: $color-5;
    transition: .2s;   
}
.social-media a:nth-of-type(3):hover{
    
    transform: scale(1.3);
    transition: .2s;
    color: $color-6;

       
}
.social-media a:nth-of-type(4):hover{
    
    transform: scale(1.3);
    transition: .2s;
    // border:2px solid #d420dc ;
    background-image:$color-bg-gradient-2;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
         
} 
   .site-info p{
       color: $color-4 ;
   }



//svg
.shapedividers_com-7251{
    padding-top: 4rem;

    overflow:hidden;
    position:relative;
    }
    .shapedividers_com-7251::before{
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat; 
    background-size: 100% 90px;
    background-position: 50% 0%;    
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23f3f3f3"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23f3f3f3"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23f3f3f3"/></svg>'); 
    }
    
    @media (min-width:768px){
    .shapedividers_com-7251::before{
    background-size: 100% 90px;
    background-position: 50% 0%;   
    }  
    }
     
    @media (min-width:1025px){
    .shapedividers_com-7251::before{ 
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 100% 90px;
    background-position: 50% 0%;  
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23f3f3f3"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23f3f3f3"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23f3f3f3"/></svg>'); 
    }
    }
    @media (min-width:2100px){
    .shapedividers_com-7251::before{
    background-size: 100% calc(2vw + 90px);
    }
    }
     