.showcase-section {
    margin: 4.3rem 0;
}

/*menu*/

.showcase-section li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 18px 10px 18px;
    font-size: 15px;
    font-weight: $extramediumweight;
    line-height: $height8;
    color: $color-4;
    transition: 0.3s;
    border-radius: 50px;
    border: 1px solid $color-1;
}

.showcase-section  li:hover,
.showcase-section li.filter-active {
    color: $color-3;
    border-color: $color-3;
}




.filter {
    position: relative;
    overflow: hidden;
    .cap {
        position: absolute;
        width: 100%;
        height: 60px;
        background-image: $color-bg-gradient-1;
        opacity: 0.8;
        left: 15px;
        bottom: -100%;
        transition: all .5s;
        vertical-align: middle;
        padding-top: 7px;
        display: flex;
        align-items: center;
        a {
           
            color: $color-1;
            font-size: $medium;
        }
    }
}

.filter:hover {
    .cap {
        bottom: 0px;
    }
    .cap a p {
        transition: color .5s;
    }
    .cap a p:hover {
        color: $color-2;
    }
}


/* box */

.showcase-box {
    overflow: hidden;
}

.imgzoom {
    transition: all 0.8s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}


/*
<section id="showcase" class="showcase-section">
<div>
    
    <!-- Start Row -->
    <div class="col-lg-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
        <div class=" text-center">
            <h2 class="text-center ">Nos <span>Réalisation</span></h2>
            <hr class="mx-auto mb-4 w-25">
        </div>
    </div>
    <!-- End Row -->

    <!-- Start Row -->
    <div data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
            <ul>
                <li data-filter="all" class="filter-item filter-active">All</li>
                <li data-filter="filter-app" class="filter-item">App</li>
                <li data-filter="filter-design" class="filter-item">design</li>
                <li data-filter="filter-web" class="filter-item">Web</li>
            </ul>
        </div>
    </div>
    <!-- End Row -->

    <!-- Start Row -->

    <div class="col-lg-12 col-md-12 col-sm-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">

        <div class=" container ">
            <div class="row " data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 col-sm-12 filter filter-app">
                    <div class="showcase-wrap">
                        <img src="./assets/img/gallery1.jpg" class="img-fluid" alt="">
                        <div class="showcase-info">
                            <h4>Project 1</h4>
                            <p>Project</p>
                            <div class="showcase-links">
                                <a href="./assets/img/gallery1.jpg" data-lightbox="mygallery"
                                    class="showcase-lightbox" data-title="project 1"><i
                                        class="fas fa-search-plus"></i></a>
                                <a href="#" title="More Details"><i class="fas fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 filter filter-design">
                    <div class="showcase-wrap">
                        <img src="./assets/img/gallery2.jpg" class="img-fluid" alt="">
                        <div class="showcase-info">
                            <h4>Project 2</h4>
                            <p>Project</p>
                            <div class="showcase-links">
                                <a href="./assets/img/gallery1.jpg" data-lightbox="mygallery"
                                    class="showcase-lightbox" data-title="project 2"><i
                                        class="fas fa-search-plus"></i></a>
                                <a href="#" title="More Details"><i class="fas fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 filter filter-app">
                    <div class="showcase-wrap">
                        <img src="./assets/img/gallery3.jpg" class="img-fluid" alt="">
                        <div class="showcase-info">
                            <h4>Project 3</h4>
                            <p>Project</p>
                            <div class="showcase-links">
                                <a href="./assets/img/gallery3.jpg" data-lightbox="mygallery"
                                    class=" showcase-lightbox" data-title="project 3">
                                    <i class="fas fa-search-plus"></i>
                                </a>
                                <a href="#" title="More Details">
                                    <i class="fas fa-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 filter filter-web">
                    <div class="showcase-wrap">
                        <img src="./assets/img/gallery4.jpg" class="img-fluid" alt="">
                        <div class="showcase-info">
                            <h4>Project 4</h4>
                            <p>Project</p>
                            <div class="showcase-links">
                                <a href="./assets/img/gallery4.jpg" data-lightbox="mygallery"
                                    class="showcase-lightbox" data-title="project 4"><i
                                        class="fas fa-search-plus"></i></a>
                                <a href="#" title="More Details"><i class="fas fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 filter filter-design">
                    <div class="showcase-wrap">
                        <img src="./assets/img/gallery5.jpg" class="img-fluid" alt="">
                        <div class="showcase-info">
                            <h4>Project 5</h4>
                            <p>Project</p>
                            <div class="showcase-links">
                                <a href="./assets/img/gallery5.jpg" data-lightbox="mygallery"
                                    class="showcase-lightbox" data-title="project 5"><i
                                        class="fas fa-search-plus"></i></a>
                                <a href="#" title="More Details"><i class="fas fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 filter filter-web">
                    <div class="showcase-wrap">
                        <img src="./assets/img/gallery6.jpg" class="img-fluid" alt="">
                        <div class="showcase-info">
                            <h4>Project 6</h4>
                            <p>Project</p>
                            <div class="showcase-links">
                                <a href="./assets/img/gallery1.jpg" data-lightbox="mygallery"
                                    class="showcase-lightbox" data-title="project 6"><i
                                        class="fas fa-search-plus"></i></a>
                                <a href="#" title="More Details"><i class="fas fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 filter filter-web">
                    <div class="showcase-wrap">
                        <img src="./assets/img/gallery7.jpg" class="img-fluid" alt="">
                        <div class="showcase-info">
                            <h4>Project 7</h4>
                            <p>Project</p>
                            <div class="showcase-links">
                                <a href="./assets/img/gallery7.jpg" data-lightbox="mygallery"
                                    class="showcase-lightbox" data-title="project 7"><i
                                        class="fas fa-search-plus"></i></a>
                                <a href="#" title="More Details"><i class="fas fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 filter filter-web">
                    <div class="showcase-wrap">
                        <img src="./assets/img/gallery8.jpg" class="img-fluid" alt="">
                        <div class="showcase-info">
                            <h4>Project 8</h4>
                            <p>Project</p>
                            <div class="showcase-links">
                                <a href="./assets/img/gallery8.jpg" data-lightbox="mygallery"
                                    class="showcase-lightbox" data-title="project 8"><i
                                        class="fas fa-search-plus"></i></a>
                                <a href="#" title="More Details"><i class="fas fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 filter filter-web">
                    <div class="showcase-wrap">
                        <img src="./assets/img/gallery9.jpg" class="img-fluid" alt="">
                        <div class="showcase-info">
                            <h4>Project 9</h4>
                            <p>Project</p>
                            <div class="showcase-links">
                                <a href="./assets/img/gallery9.jpg" data-lightbox="mygallery"
                                    class="showcase-lightbox" data-title="project 9"><i
                                        class="fas fa-search-plus"></i></a>
                                <a href="#" title="More Details"><i class="fas fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- End Row -->
</div>
</section>

*/