.showcase-section {
    margin: 4.3rem 0;
    padding: 1rem;
}

/*menu*/

.showcase-section li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 10px ;
    font-size: $small;
    font-weight: $extramediumweight;
    line-height: $height8;
    color: $color-4;
    transition: 0.3s;
    border-radius: 50px;
    border: 1px solid $color-1;
}

.showcase-section  li:hover,
.showcase-section li.filter-active {
    color: $color-3;
    border-color: $color-3;
}




.filter {
    position: relative;
    overflow: hidden;
    .cap {
        position: absolute;
        width: 100%;
        height: 60px;
        background-image: $color-bg-gradient-1;
        opacity: 0.8;
        left: 15px;
        bottom: -100%;
        transition: all .5s;
        vertical-align: middle;
        padding-top: 7px;
        display: flex;
        align-items: center;
        a {
           
            color: $color-1;
            font-size: $medium;
        }
    }
}

.filter:hover {
    .cap {
        bottom: 0px;
    }
    .cap a p {
        transition: color .5s;
    }
    .cap a p:hover {
        color: $color-2;
    }
}


/* box */

.showcase-box {
    overflow: hidden;
}

.imgzoom {

    transition: all 0.8s ease-in-out;

    &:hover {
        transform: scale(1.2);
    }
}

