@import"./typography",
"./reset";


//     |-------------------------------|
//     |---------basic styles----------|
//     |-------------------------------| 

// to scroll slowly in the page 
html {
    scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

//scrollbar
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,$color-2);
    border-radius: 7px;
}



body {
    width: 100%;
    background-color: $color-1;
    font-family: $Poppins;
    line-height: $height6;
    font-size: $small;
    overflow-x: hidden;
}



.flexbox{
display: flex;
    justify-content: space-between;
}
